@font-face {
  font-family: "Sublem";
  src: url(/fonts/Sublem.ttf) format("truetype");
  font-weight: normal;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #ffe28c;
  --active-color: #ffe28c;
  --hover-color: #ffe396;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--primary-color);
}

.topnav {
  font-family: "Sublem", Helvetica, sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
  color: black;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.topnav a:hover {
  background-color: var(--active-color);
}

.topnav a.active {
  background-color: var(--active-color);
}

.content-container {
  background-color: var(--primary-color);
  padding: 10px;
  width: 75%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
}

.title-container {
  text-align: center;
  width: 100%;
  font-family: "Sublem", Helvetica, sans-serif;
}

.form-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
  width: 25%;
  margin: auto;
  padding: 20px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 75%;
  }
}
